body {
    font-style: italic;
    font-family: "Foo Bar";
}
h1 {
    font-style: italic;
    font-family: "Foo Bar";
}
h2 {
    font-style: italic;
    font-family: "Foo Bar";
}
div {
    font-style: italic;
    font-family: "Foo Bar";
}
p {
    font-style: italic;
    font-family: "Foo Bar";
}
