body.cover {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
}
.z {
    margin-right: 8px;
    font-family: "Times New Roman", "serif";
}
.title {
    margin-left: 0;
    margin-bottom: 0.5em;
    margin-top: 1em;
    margin-right: 0;
    page-break-before: avoid;
    text-align: center;
    font-weight: bold;
    font-size: 248%; /* 5 */
}
.p {
    margin-left: 0;
    margin-bottom: 0.5em;
    margin-top: 0;
    margin-right: 0;
    text-indent: 0;
}
.epigraph {
    margin-left: 30%;
    margin-bottom: 2em;
    margin-top: 1em;
    margin-right: 1em;
    text-align: left;
    font-style: italic;
}
.p1 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    text-indent: 1.5em;
    text-align: justify;
}
.text-author {
    margin-left: 3em;
    margin-bottom: 0;
    margin-top: 0.2em;
    margin-right: 0;
    text-indent: 0;
}
.title1 {
    margin-left: 0;
    margin-bottom: 0.5em;
    margin-top: 1em;
    margin-right: 0;
    page-break-before: avoid;
    text-align: center;
    font-weight: bold;
    font-size: 207%; /* 4 */
}
.title2 {
    margin-left: 1.56em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    margin-right: 0;
    page-break-before: avoid;
    text-align: left;
    font-weight: bold;
    font-size: 172%; /* 3 */
}
.empty-line {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
}
.a {
    font-size: 83%; /* -1 */
}
.poem {
    margin-left: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-right: 0;
}
.stanza {
    margin-left: 0;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-right: 0;
}
.v {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    text-indent: -1em;
}
.subtitle {
    margin-left: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-right: 2em;
    text-indent: 0;
    page-break-before: avoid;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.title3 {
    margin-left: 1.92em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    margin-right: 0;
    page-break-before: avoid;
    text-align: left;
    font-weight: bold;
    font-size: 144%; /* 2 */
}
.cite {
    margin-left: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-right: 0;
    font-size: 83%; /* -1 */
}
.title4 {
    margin-left: 2.08em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    margin-right: 0;
    page-break-before: avoid;
    text-align: left;
    font-weight: bold;
    font-size: 120%; /* 1 */
}
